<button class="sticky-button rts-theme-btn menu__trigger" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Enquiry</button>
<style>
    .thumbnail.fo {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .thumbnail.fo img {
        width: 70%;
    }
    .offcanvas-body::-webkit-scrollbar{
        width: 8px;
        background-color: #e2e2e2;
    }
    .offcanvas-body::-webkit-scrollbar-thumb{
        background-color: var(--rt-secondary);
    }
</style>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

    <div class="offcanvas-body" style="padding: 20px 30px;">
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail logo fo">
                <img src="/main.jpg" class="mb-1" alt="DSGS-university">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
            <div class="inner-content">
                <!-- <p class="disc text-center text-small fs-13">
                    DSGS has been conceived with the ambitious objectives of developing professional expertise
                    and
                    skilled manpower in all the major functional areas of management.
                </p> -->
                <!-- offcanvase banner -->
                <div class="offcanvase__banner mt--50">
                    <div class="offcanvase__banner--content">
                        <h5>Enquiry Form</h5>
                        <form action="#" id="enquiryform" method="post">
                            <div class="form-row">
                                <input class="input" type="text" name="name" id="name" required
                                    placeholder="Full Name*">
                            </div>
                            <div class="form-row">
                                <input class="input" type="email" name="name" id="name" required placeholder="Email*">
                            </div>
                            <div class="form-row">
                                <input class="input" type="tel" maxlength="10" minlength="10" name="name" id="name"
                                    required placeholder="Contact No*">
                            </div>
                            <div class="form-row">
                                <input class="input" type="text" name="name" id="name" required placeholder="City*">
                            </div>
                            <div class="form-row">
                                <select class="input" name="course" id="course">
                                    <option value="" disabled selected>Select</option>
                                    <option value="MMS">MMS</option>
                                    <option value="PGDM">PGDM</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <input class="input" type="text" name="name" id="name" required
                                    placeholder="Qualification">
                            </div>
                            <button type="submit" class="rts-theme-btn btn-arrow submitBtn">Submit <span><i
                                        class="fa-sharp fa-regular fa-arrow-right"></i></span></button>
                        </form>
                    </div>
                </div>
                <div class="offcanvase__info">
                    <div class="offcanvase__info--content">
                        <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(91)
                            900-4444-069</a>
                        <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>RSET Campus
                            S V Road, Malad (West),
                            Mumbai 400064, Maharashtra, INDIA</a>
                        <div class="offcanvase__info--content--social">
                            <p class="title">Follow Us:</p>
                            <div class="social__links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer start -->


<footer class="rts-footer rts-footer-padding v_2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="rts-footer-newsletter">
                <div class="col-lg-10">
                    <div class="rts-newsletter-box-content">
                        <h4 class="newsletter-title">Subscribe To Newsletter
                        </h4>
                        <div class="newsletter-form w-530">
                            <form action="#">
                                <input type="email" name="subscription" id="subscription" placeholder="Enter Your mail"
                                    required="">
                                <button type="submit" class="rts-nbg-btn btn-arrow">Subscribe <span><i
                                            class="fa-sharp fa-regular fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5 gy-lg-0">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="rts-footer-widget ">
                    <h6 class="rt-semi">Rajasthani Sammelan Education Trust</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Social Transformation</a></li>
                            <li><a href="#">Contact Us </a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget ">
                    <h6 class="rt-semi">Hostel</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="#">Draupadidevi Sanwarmal Women’s Hostel</a></li>
                            <li><a href="#">Jankidevi Bilasrai Bubna Boys Hostel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget">
                    <h6 class="rt-semi">Counseling</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="#">Ramdhar Maheshwari Career Counseling Centre</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget">
                    <h6 class="rt-semi">Welfare Institutions & Facilities</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="#">Pravinchandra D.Shah Sports Academy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="rts-footer-widget ">
                    <h6 class="rt-semi">Schools</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="https://www.rset.edu.in/kgss/" target="_blank">Kudilal Govindram Seksaria
                                    Sarvodaya School</a></li>
                            <li><a href="https://www.rset.edu.in/kges/" target="_blank">Kudilal Govindram Seksaria
                                    English School</a></li>
                            <li><a href="https://www.rset.edu.in/rbhs/" target="_blank">Ramniwas Bajaj English High
                                    School</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget ">
                    <h6 class="rt-semi">International Schools</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="https://www.mbis.org.in/" target="_blank">Mainadevi Bajaj International
                                    School</a></li>
                            <li><a href="https://www.mbip.org.in/" target="_blank">Mainadevi Bajaj International
                                    Playschool</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget ">
                    <h6 class="rt-semi">Colleges</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="https://www.rset.edu.in/gscc/" target="_blank">Ghanshyamdas Saraf College
                                    of Arts & Commerce</a></li>
                            <li><a href="https://www.rset.edu.in/lrmc/" target="_blank">Mainadevi Bajaj
                                    International Playschool</a></li>
                            <li><a href="https://www.rset.edu.in/dsjc/" target="_blank">Durgadevi Saraf Junior
                                    College</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="rts-footer-widget">
                    <h6 class="rt-semi">Online Courses</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="http://www.goldelearning.com/" target="_blank">Kunjbihari S Goyal Online
                                    Academy </a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget">
                    <h6 class="rt-semi">Higher Education</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="https://www.dsims.org.in/" target="_blank"> Durgadevi Saraf Institute of
                                    Management Studies</a></li>
                            <li><a href="https://www.dsgs.org.in/" target="_blank">Durgadevi Saraf Global Business
                                    School </a></li>
                            <li><a href="https://www.dgmc.org.in/" target="_blank">Deviprasad Goenka Management
                                    College of Media Studies </a></li>
                        </ul>
                    </div>
                </div>
                <div class="rts-footer-widget">
                    <h6 class="rt-semi">Vocational Education</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="https://www.rset.edu.in/rajasthani-sammelan-finishing-school/"
                                    target="_blank">Rajasthani Sammelan Finishing School </a></li>
                            <li><a href="https://www.rset.edu.in/rajasthani-sammelan-teacher-training-institute/"
                                    target="_blank"> Rajasthani Sammelan Teacher Training Institute</a></li>
                            <li><a href="https://www.rset.edu.in/rajasthani-sammelan-skill-development-centre/"
                                    target="_blank">Rajasthani Sammelan Skill Development Centre </a></li>
                            <li><a href="https://www.ksil.org.in/" target="_blank"> Kirandevi Saraf Institute of
                                    Complete Learning</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="rts-footer-widget">
                    <div class="rts-contact-link">
                        <a><i class="fa-sharp fa-light fa-location-dot"></i> RSET Campus
                            S V Road, Malad (West),
                            Mumbai 400064, Maharashtra, INDIA </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="rts-footer-widget">
                    <div class="rts-contact-link">
                        <a href="mailto:info@dsgs.org.in"><i class="fa-light fa-envelope"></i>
                            info@dsgs.org.in </a>
                        <a href="callto:"><i class="fa-thin fa-phone"></i> 900-4444-059 / 69 / 86 / 022-45207711</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="rts-footer-widget">
                    <div class="rts-contact-link">
                        <div class="offcanvase__info--content--social">

                            <div class="social__links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="rts-footer-copy-right v_1">
    <div class="container">
        <div class="row">
            <div class="rt-center">
                <p class="--p-xs"> &copy; 2025 All Rights Reserved by <a href="/">DurgaDevi Saraf Global
                        School</a></p>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->