<!-- header area start -->
<header class="header header__sticky v__2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="header__wrapper">
                    <div class="header__logo">
                        <a href="/" class="header__logo--link">
                            <img src="/main.png" style="width: 280px;" alt="DSGS">
                        </a>
                    </div>
                    <div class="header__menu">
                        <div class="navigation">
                            <nav class="navigation__menu">
                                <ul>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a  class="navigation__menu--item__link">About</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="/about-college">About DSGS</a></li>
                                            <li><a href="#">About RSET</a></li>
                                            <li><a href="#">Vision Mission</a></li>
                                            <li class="has-child has-arrow">
                                                <a href="#">Management</a>
                                                <ul class="sub__style">
                                                    <li><a class="mobile-menu-link" href="#">Main Donor</a></li>
                                                    <li><a class="mobile-menu-link" href="#">Chairman</a></li>
                                                    <li><a href="#">Director</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Governing Council</a></li>
                                            <li><a href="#">Academic Council</a></li>
                                            <li><a href="#">Board of Studies</a></li>
                                            <li><a href="#">Approval</a></li>
                                            <!-- <li><a href="#">Research</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a  class="navigation__menu--item__link">Academics</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="/post-graduate-diploma-in-management-pgdm"> PGDM</a></li>
                                            <li><a href="#"> FMB</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a  class="navigation__menu--item__link">Faculty</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="/core-faculty"> Core Faculty</a></li>
                                            <li><a href="#"> Visiting Faculty</a></li>
                                            <li><a href="#"> Non Teaching Staff</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a  class="navigation__menu--item__link">Placements</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="/placement-highlights"> Placement Highlights</a></li>
                                            <li><a href="#"> Placement Policy</a></li>
                                            <li><a href="#"> Corporate Relationship Team</a></li>
                                            <li><a href="#"> Placed Students</a></li>
                                            <li><a href="#"> Summer Intership Project</a></li>
                                            <li><a href="#"> Placement Brochure</a></li>
                                            <li><a href="#"> Our Recruiters</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item">
                                        <a href="/contact-us" class="navigation__menu--item__link">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__right--item">
                            <!-- <div class="side-logo">
                                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/All_India_Council_for_Technical_Education_logo.png/220px-All_India_Council_for_Technical_Education_logo.png"
                                    style="height: 60px;" alt="">
                            </div> -->
                            <!-- <div id="search-btn" class="search__trigger">
                                <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                            </div> -->
                            <!-- <div id="menu-btn" class="menu__trigger">
                                <i class="fa-regular fa-bars"></i>
                            </div> -->
                            <div id="menu-btn" class="menu__trigger" style="cursor: pointer;">
                                <img src="assets/images/icon/menu__bar.svg" alt="bar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- offcanvase menu -->
<!-- header style two -->
<div id="side-bar" class="side-bar">
    <!-- inner menu area desktop start -->
    <!-- <div class="inner-main-wrapper-desk">
            <div class="thumbnail logo">
                <img src="/main.jpg" class="mb-3" alt="DSGS-university">
                <button class="close-icon-menu"><i class="far fa-times"></i></button>
            </div>

        </div> -->
    <div class="mobile-menu-main">
        <div class="thumbnail logo">
            <img src="/main.jpg" class="mb-3" alt="DSGS-university">
            <button class="close-icon-menu"><i class="far fa-times"></i></button>
        </div>

        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu metismenu" id="mobile-menu-active">

                <li class="has-droupdown">
                    <a href="#" class="main">About</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link">About DSGS</a></li>
                        <li><a href="#" class="mobile-menu-link">About RSET</a></li>
                        <li><a href="#" class="mobile-menu-link">Vision Mission</a></li>
                        <li class="has-droupdown">
                            <a href="#" class="main">Management</a>
                            <ul class="submenu mm-collapse">
                                <li><a class="mobile-menu-link" href="#">Main Donor</a></li>
                                <li><a class="mobile-menu-link" href="#">Chairman</a></li>
                                <li><a href="#">Director</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="mobile-menu-link">Governing Council</a></li>
                        <li><a href="#" class="mobile-menu-link">Academic Council</a></li>
                        <li><a href="#" class="mobile-menu-link">Board of Studies</a></li>
                        <li><a href="#" class="mobile-menu-link">Approval</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Academics</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link"> Post Graduation Diploma Management</a></li>
                        <li><a href="#" class="mobile-menu-link"> Family Managed Business</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Faculty</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link"> Core Faculty</a></li>
                        <li><a href="#" class="mobile-menu-link"> Visiting Faculty</a></li>
                        <li><a href="#" class="mobile-menu-link"> Non Teaching Staff</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Placements</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link"> Placement Highlights</a></li>
                        <li><a href="#" class="mobile-menu-link"> Placement Policy</a></li>
                        <li><a href="#" class="mobile-menu-link"> Corporate Relationship Team</a></li>
                        <li><a href="#" class="mobile-menu-link"> Placed Students</a></li>
                        <li><a href="#" class="mobile-menu-link"> Summer Intership Project</a></li>
                        <li><a href="#" class="mobile-menu-link"> Placement Brochure</a></li>
                        <li><a href="#" class="mobile-menu-link"> Our Recruiters</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Research</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link"> Remson Centre for Management Research
                                (RCMR)</a>
                        </li>
                        <li><a href="#" class="mobile-menu-link"> Focus Areas of RCMR</a></li>
                        <li><a href="#" class="mobile-menu-link"> Research and Publications</a></li>
                        <li><a href="#" class="mobile-menu-link"> The Management Quest - Online Journal</a></li>
                        <li><a href="#" class="mobile-menu-link"> Summer Intership Project</a></li>
                        <li><a href="#" class="mobile-menu-link"> Placement Brochure</a></li>
                        <li><a href="#" class="mobile-menu-link"> Remson International Research Conference</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__menu--item">
                    <a href="#" class="main">Alumni</a>
                </li>
                <li class="navigation__menu--item">
                    <a href="#" class="main">Careers</a>
                </li>
                <li class="navigation__menu--item">
                    <a href="/blog" class="main">Blog</a>
                </li>
                <li class="navigation__menu--item">
                    <a href="#" class="main">Contact</a>
                </li>
                <li>
                    <a href="#" class="main">E-Cell</a>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Internationalisation</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link">Global Exposure</a></li>
                        <li><a href="#" class="mobile-menu-link">International Collaborations</a></li>
                        <li><a href="#" class="mobile-menu-link">International Immersion</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Disclosure</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link">AICTE Approval</a></li>
                        <li><a href="#" class="mobile-menu-link">Mandatory Disclosure</a></li>
                        <li><a href="#" class="mobile-menu-link">Feedback</a></li>
                        <li><a href="#" class="mobile-menu-link">Budget</a></li>
                        <li><a href="#" class="mobile-menu-link">Grievance Redressal Mechanism</a></li>
                        <li><a href="#" class="mobile-menu-link">Statutory Committees</a></li>
                        <li><a href="#" class="mobile-menu-link">Non Statutory Committees</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Events & Initiatives</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link">Industry Institute Partnership Cell</a></li>
                        <li><a href="#" class="mobile-menu-link">ISR</a></li>
                        <li><a href="#" class="mobile-menu-link">Leader in Making</a></li>
                        <li><a href="#" class="mobile-menu-link">Special Engagement Program</a></li>
                        <li><a href="#" class="mobile-menu-link">Rural Immersion</a></li>
                        <li class="has-droupdown">
                            <a href="#" class="main">Meet The Celebrity</a>
                            <ul class="sub__style">
                                <li><a class="mobile-menu-link" href="#">International Speakers </a></li>
                                <li><a class="mobile-menu-link" href="#">Corporate Gurus</a></li>
                                <li><a class="mobile-menu-link" href="#">Director</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="mobile-menu-link">FDP/MDP</a></li>
                        <li><a href="#" class="mobile-menu-link">Foundation Day</a></li>
                        <li><a href="#" class="mobile-menu-link">Conclaves</a></li>
                        <li><a href="#" class="mobile-menu-link">PGDM Convocations</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Student's Corner</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="#" class="mobile-menu-link"> Student Login</a></li>
                        <li><a href="#" class="mobile-menu-link"> Student's Council</a></li>
                        <li><a href="#" class="mobile-menu-link"> Student's Initiatives</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="offcanvase__info--content mt--30">
            <a href="callto:9004444059"><span><i class="fa-sharp fa-light fa-phone"></i></span> 900-4444-059 /
                69 /
                86 / 022-45207711</a>
            <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span> RSET Campus
                S V Road, Malad (West),
                Mumbai 400064, Maharashtra, INDIA </a>
            <div class="offcanvase__info--content--social">
                <p class="title">Follow Us:</p>
                <div class="social__links">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header style two End -->