<%- include('partials/breadcrumb') %>

    <!-- about university -->
    <section class="rts-about-university rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="rts-section">
                    <div class="col-lg-4 col-md-5">
                        <h3 class="rts-section-title">About College</h3>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <p class="rts-section-description">
                            Welcome to Durgadevi Saraf Global Business School (DSGS), where innovation meets leadership,
                            and every student’s potential is nurtured. DSGS ranked among the Top-5 B-Schools in Mumbai
                            in 2024 Established in 2020, DSGS is a proud initiative of the Rajasthani Sammelan Education
                            Trust (RSET), a legacy institution committed to advancing education since 1948.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-5 justify-content-md-center justify-content-start">
                <div class="col-lg-7 col-xl-8 col-md-11">
                    <div class="rts-about-section">
                        <img src="/assets/images/about/about1.jpg"
                            alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 col-md-11">
                    <div class="rts-about-details">
                        <div class="single-about-info">
                            <div class="content">
                                <h3 class="title">300 +</h3>
                                <img src="assets/images/icon/11.svg" alt="">
                            </div>
                            <div class="desc">
                                <p>Placement Partners</p>
                            </div>
                        </div>
                        <div class="single-about-info">
                            <div class="content">
                                <h3 class="title">Expert</h3>
                                <img src="assets/images/icon/12.svg" alt="">
                            </div>
                            <div class="desc">
                                <p>Faculty and Staff</p>
                            </div>
                        </div>
                        <div class="single-about-info">
                            <div class="content">
                                <h3 class="title">744 +</h3>
                                <img src="assets/images/icon/13.svg" alt="">
                            </div>
                            <div class="desc">
                                <p>DSGS Alumni Worldwide</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about university end -->

    <!-- history -->
    <div class="rts-history">
        <div class="container">
            <div class="row g-5 justify-content-md-center justify-content-start align-items-center">
                <div class="col-lg-6 col-md-11">
                    <div class="rts-history-image">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/about-the-college.jpg"
                            alt="history">
                    </div>
                </div>
                <div class="col-lg-6 col-md-11">
                    <div class="rts-history-section">
                        <h4 class="rts-section-title mb--20">History of DSGS</h4>
                        <p>
                            Durgadevi Saraf Global Business School (DSGS), founded in 2020, marks a significant
                            achievement in the esteemed history of Rajasthani Sammelan Education Trust (RSET), an
                            organization committed to advancing education since 1948. DSGS embodies the trust's
                            dedication to excellence in management education, offering a vibrant learning environment
                            that emphasizes academic brilliance, diversity, community engagement, and social
                            responsibility.
                            <span class="d-block mb--30"></span>
                            Ranked among the Top-5 B-Schools in Mumbai in 2024, DSGS combines cutting-edge
                            infrastructure with innovative teaching methodologies, setting a new standard for
                            professional management education. The school stands out for its emphasis on AI,
                            technology-driven education, and sustainability, preparing students to excel in the digital
                            and eco-conscious world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- history end-->


    <div class="rts-funfact rts-section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="rts-funfact-wrapper text-center">
                        <div class="single-cta-item">
                            <h2 class="single-cta-item__title">99 <span style="font-size: 20px;">%</span></h2>
                            <p>Placement success rate</p>
                        </div>
                        <div class="single-cta-item">
                            <h2 class="single-cta-item__title">10.4 <span style="font-size: 20px;">LPA</span></h2>
                            <p>Highest Package</p>
                        </div>
                        <div class="single-cta-item">
                            <h2 class="single-cta-item__title">5+</h2>
                            <p>International Tie-ups</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- mission end-->
    <section class="rts-campus-tour rts-section-padding"  style="background-color: #DADADA;">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="section-title rt-center mb--50">Virtual Campus Tour</h2>
                <div class="col-12">
                    <div class="rts-video-section height-500 mb--50">
                        <a href="https://www.youtube.com/watch?v=Uwq1uiuM_9w"
                            class="rts-video-section-player popup-video video-btn">
                            <i class="fa-sharp fa-solid fa-play"></i>
                        </a>
                        <img src="assets/images/about/video-thumb.jpg" alt="video-bg">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="rts-video-section-text rt-center mx-3">
                        <p>Embark on a transformative journey of learning, leadership, and success at DSGS. Our PGDM program is designed for ambitious individuals ready to excel in the dynamic world of business and management. Whether you're a fresh graduate or a working professional seeking to elevate your career, we invite you to explore the opportunities that await you in our industry-focused academic community.</p>
                        <a href="#" class="mt--15 about-btn rts-nbg-btn btn-arrow"> Campus Life <span><i
                                    class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .students-stories-area {
            /* padding-top: 0px; */
            padding-bottom: 120px;
        }
        .rts-campus-tour.rts-section-padding{
            padding-top: 70px;
        }
    </style>

    <!--Start Check Student Stories-->
    <div class="students-stories-area pb-120">
        <div class="container">
            <div class="row">
                <div class="rts__section--wrapper v__5">
                    <h2 class="rts__section--title mb--15">Student Stories</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="single-stories-card">
                        <div class="stories-content">
                            <p>Ms Saloni Singh</p>
                        </div>
                        <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=g-GNSD9A7Og">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/saloni.jpg"
                                alt="Ms Saloni Singh Video Thumbnail" class="video-thumbnail">
                            <div class="icon">
                                <i class="fa-solid fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-stories-card">
                        <div class="stories-content">
                            <p>Ms Aaliya Mulla</p>
                        </div>
                        <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=gCZDmQdxqQ0">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/aaliya-mulla.jpg"
                                alt="Ms Aaliya Mulla Video Thumbnail" class="video-thumbnail">
                            <div class="icon">
                                <i class="fa-solid fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-stories-card">
                        <div class="stories-content">
                            <p>Ms Pranita Shetty</p>
                        </div>
                        <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=ptmHTQt23PY">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/pranita-shetty.jpg"
                                alt="Ms Pranita Shetty Video Thumbnail" class="video-thumbnail">
                            <div class="icon">
                                <i class="fa-solid fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-stories-card">
                        <div class="stories-content">
                            <p>Mr Omkar Shinde</p>
                        </div>
                        <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=Cx3TjXhOiv4">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/omkar-shinde.jpg"
                                alt="Mr Omkar Shinde Video Thumbnail" class="video-thumbnail">
                            <div class="icon">
                                <i class="fa-solid fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Check Student Stories-->