<%- include('partials/breadcrumb') %>
    <style>
        .staf-image {
            width: 250px !important;
            height: 241px;
            overflow: hidden;
        }

        .staf-info {
            display: inline;
        }

        .staf-image img{
            /* display: inline; */
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover !important;
        }

        .single-staff__content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .staf-image {
            flex: 0 0 auto;
            max-height: 361px;
        }

        .staf-info {
            flex: 1;
            min-width: 300px;
        }

        .staf-info p .staf-info a {
            flex-basis: 100%;
        }
        .staf-info .name{
            color: var(--rt-secondary) !important;
        }
        .staf-info .designation{
            color: var(--rt-secondary) !important;
        }

        .single-staff__content .email-contact,
        .single-staff__content .phone-contact {
            display: block;
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }

        .single-staff__content .email-contact span,
        .single-staff__content .phone-contact span {
            color: var(--rt-primary);
        }
    </style>
    
    <!-- faculty directory -->
    <section class="rts-faculty rts-section-padding">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-12 col-md-11">
                    <div class="rts-section mb--50">
                        <h3 class="rts-section-title">Faculty & Staff Directory</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center g-5">
                <!-- single staff item -->
                <div class="col-lg-12 col-md-11">
                    <div class="single-staff">
                        <div class="single-staff__content">

                            <div class="staf-info">
                                <h5 class="name">PROF. (Dr) Sarita Vichore</h5>
                                <span class="designation">Director - Durgadevi Saraf Global Business School</span>
                                <p>Dr. Sarita Vichore, Director, Durgadevi Saraf Global Business School holds a
                                    post-graduate
                                    degree, Masters of Business Administration, with dual specialization in Finance &
                                    Marketing. She has been awarded Ph.D. in the field of Finance. <br> She also has a
                                    degree from Cost and Management Accountant (CMA), USA. She is a member of the
                                    prestigious Institute of Management Accountants, USA. </p>
                                <p>Dr. Vichore is an avid researcher and widely respected for
                                    research papers in International & National Conferences. She is a Ph.D. guide at
                                    University of Mumbai in the area of Finance. She exemplifies the pursuit of academic
                                    excellence and quality research. A new-age thought leader. Dr. Vichore uses 21+
                                    years of Industry and Academic experience to focus on leaders of tomorrow,
                                    especially in modern VUCA world. She has addressed issues of contemporary importance
                                    at various International Universities and Forums.

                                </p>


                            </div>
                            <div class="staf-image">
                                <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2021/07/Dr_Sarita_Vichore.jpg"
                                    alt="staff-image">
                            </div>
                            <p>She was invited by Kauffman Foundation, Kansas, USA to address entrepreneurs on
                                “Scaling Up of Business”. She has spoken extensively on specialized topics like
                                Strategic Cost Management, Self-Management and Happiness in the Workplace. In
                                recognition of her contribution to the field of Management, Dr. Sarita Vichore was
                                given Best Professor award in the area of Financial Management by BSE and Higher
                                Education Forum in 2019.</p>
                            <a href="mailto:sarita.vichore@dsims.org.in" class="email-contact"><span><i
                                        class="fa-light fa-envelope"></i></span>sarita.vichore@dsims.org.in</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-11">
                    <div class="single-staff">
                        <div class="single-staff__content">

                            <div class="staf-info">
                                <h5 class="name">MR. Somesh Kumar Banerji</h5>
                                <span class="designation">Associate Professor</span>
                                <p>MR. Somesh Banerji has a B Tech in Metallurgical Engineering from IIT Mumbai and a
                                    PGDM from IIM Bangalore. He has more than 37 years of industry experience across
                                    industries like Automotive Components, Industrial Plastics, FMCG, Steel and Allied
                                    Products. He was part of the core project team that set up Raymond Steel near Nasik,
                                    to manufacture CRND and CRGO. Prior to joining DSIMS, Mr. Somesh was Chief Industry
                                    Officer and Faculty Member at IIFM Mumbai and earlier, Controller of Projects, SCM &
                                    Infrastructure – Adam Smith Institute of Management, Hyderabad. His areas of
                                    interest are Logistics, Project Management and Supply Chain Management and AI.</p>


                                <a href="mailto:somesh.banerji@dsims.org.in" class="email-contact"><span><i
                                            class="fa-light fa-envelope"></i></span>somesh.banerji@dsims.org.in</a>
                            </div>
                            <div class="staf-image">
                                <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2020/01/somesh-300x168.jpg"
                                    alt="staff-image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-11">
                    <div class="single-staff">
                        <div class="single-staff__content">

                            <div class="staf-info">
                                <h5 class="name">MS. KUSUM PAWAR</h5>
                                <span class="designation">Assistant Professor</span>
                                <p>Ms. Kusum Pawar carries experience of 20 years in the area of HRD, with industries
                                    like insurance, education and consulting. <br> In her current role she is associated
                                    with DSGS as Assistant Professor in the area of HR. She holds a Master of Management
                                    degree from D.E.I, Agra with specialization in HR. She was awarded Director’s Medal
                                    for securing highest marks in Economics Honors in D.E.I, Agra. She is currently
                                    pursuing PhD in HRM &amp; OB with the Mumbai University.</p>
                                <p>Her professional achievements include: “Top Professional Agency Builder” degree from
                                    Kinder Brothers International, Dallas, TX, USA, “Lead Auditor” certification with
                                    Lloyd’s Register Group Limited (IRCA approved training partner), and “Assessment
                                    Expert” Certification from AON Hewitt Learning Center. She has completed courses
                                    titled “Become an Instructional Designer”, “Become a Trauma Informed Leader” and
                                    “Leading and Motivating People with Different Personalities” from LinkedIn Learning.
                                </p>


                            </div>
                            <div class="staf-image">
                                <img src="https://placehold.co/250x250"
                                    alt="staff-image">
                            </div>
                            <p>She has successfully completed the 5-day online FDP on the theme “Inculcating
                                Universal Human Values in Technical Education” organized by All India Council for
                                Technical Education (AICTE). <br>She has conducted various MDPs in the area of Team
                                Building, Leadership Development, Performance Feedback, Customer Service Excellence,
                                Communication and Grooming Etiquettes. She has also published and presented papers
                                at various forums. She is currently pursuing PhD in the area of Work Engagement,
                                from Mumbai University. Her areas of interest include L&amp;D, Work Engagement,
                                Leadership, Competency Assessment and Performance Feedback.</p>
                            <a href="mailto:kusum.pawar@dsims.org.in" class="email-contact"><span><i
                                        class="fa-light fa-envelope"></i></span>kusum.pawar@dsims.org.in</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-11">
                    <div class="single-staff">
                        <div class="single-staff__content">

                            <div class="staf-info">
                                <h5 class="name">MR. Aijaz Jafri</h5>
                                <span class="designation">Assistant Professor</span>
                                <p>He has done his MMS (Marketing) and BE (Production) from University of Mumbai. He has
                                    more than ten years of cross cultural and international exposure in manufacturing
                                    and industrial engineering based organization. He has been associated with US
                                    institutions in the domain of engineering and operations management. Aijaz has
                                    successfully lead a team of professional on a project involving traffic simulation
                                    modeling for Getty Villa Museum in Los Angeles. He was one of the consultants for
                                    Bank of America and Wells Fargo in the areas of productivity enhancements and
                                    effective resource allocations</p>

                                <a href="mailto:aijaz.jafri@dsgs.org.in" class="email-contact"><span><i
                                            class="fa-light fa-envelope"></i></span>aijaz.jafri@dsgs.org.in</a>
                            </div>
                            <div class="staf-image">
                                <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2021/10/Aijaz-Jafri.jpg"
                                    alt="staff-image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-11">
                    <div class="single-staff">
                        <div class="single-staff__content">

                            <div class="staf-info">
                                <h5 class="name">Ms. Pooja Goswami</h5>
                                <span class="designation">Assistant Professor</span>
                                <p>Ms. Pooja Goswami is a dynamic professional with a Master’s in Management Studies,
                                    specializing in Human Resources, showcasing a stellar academic career. Her academic
                                    prowess is exemplified by her UGC NET qualification, alongside a Master’s degree in
                                    Commerce, supplemented by numerous certifications. She holds a Post Graduate Diploma
                                    in Labour and Administrative Laws. <br>With nearly a decade of rich experience, Ms.
                                    Goswami’s teaching and research pursuits focus on Performance Management Systems,
                                    Employee Engagement, Rewards Management, and Labour Laws.</p>
                                <p>Her scholarly contributions are presented as research papers at various esteemed
                                    conferences, some of which have been recognized as Best Paper. Ms. Goswami serves as
                                    the Chairperson of the PGDM Program First Year.</p>


                            </div>
                            <div class="staf-image">
                                <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2020/01/pooja-goswami-300x168.jpg"
                                    alt="staff-image">
                            </div>
                            <p> Additionally, her involvement in the
                                Remsons Centre for Management Research & co-convener of International Conference
                                highlights her commitment to advancing knowledge in the field. She is currently
                                pursuing her Ph.D. in the realm of Diversity and Well-being.</p>
                            <a href="mailto:pooja.goswami@dsims.org.in" class="email-contact"><span><i
                                        class="fa-light fa-envelope"></i></span>pooja.goswami@dsims.org.in</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-11">
                    <div class="single-staff">
                        <div class="single-staff__content">
                            
                            <div class="staf-info">
                                <h5 class="name">Prof. Vikas Pande</h5>
                                <span class="designation">Assistant Professor, Marketing</span>
                                <p>Mr. Vikas Pande holds a Bachelor degree in Pharmacy from the prestigious Institute of
                                    Chemical Technology (ICT), Mumbai. He holds Master of Management Studies (MMS)
                                    degree with Marketing specialization from Jamnalal Bajaj Institute of Management
                                    Studies (JBIMS). He is pursuing Ph.D. in Management from Savitribai Phule Pune
                                    University.</p>
                                <p>Mr. Vikas Pande has more than 9 years of experience in Industry and Academics. He has
                                    more than 2 years of experience in Pharmaceutical Industry in Brand Management. He
                                    has handled Dermatological and Nutraceutical Brands. He has more than 7 years of
                                    experience in Academics. His areas of interest include Product & Brand Management,
                                    Marketing Strategy, Digital Marketing and Retail Management. He has interest in
                                    Pharmaceutical Research and has published papers in National and International
                                    Journals.</p>
                                    <a href="mailto:vikaspande@dsgs.org.in" class="email-contact"><span><i
                                        class="fa-light fa-envelope"></i></span>vikaspande@dsgs.org.in</a>
                            </div>
                            <div class="staf-image">
                                <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2023/07/Vikas_Pandey.jpg"
                                    alt="staff-image">
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="rts-load-more-btn rt-center mt--60">
                    <a type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="rts-theme-btn primary">Transform Your Life Today – Enquire Now</a>
                </div>
            </div>
    </section>
    <!-- faculty directory end -->