
<!-- header banner -->
<div class="banner v__2">
    <div class="banner__wrapper">
        <div class="swiper  swiper-data" data-swiper='{
                            "slidesPerView":1,
                            "effect": "fade",
                            "loop": true,
                            "speed": 1000,
                            "autoplay":{
                                "delay":"7000"
                    }}'>
            <div class="swiper-wrapper">
                <!-- single slides -->
                <div class="swiper-slide">
                    <div class="banner__wrapper--bg"
                        style="background-image: url(https://www.dsims.org.in/wp-content/uploads/sites/3/revslider/slider-1/slider-6.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner__slides--container banner__height">
                                        <div class="banner__slides--content">
                                            <div class="banner__slides--content--sub">
                                                <img src="assets/images/icon/e-cap.svg" alt="cap"> Leadership
                                                drives
                                                success
                                            </div>
                                            <h1 class="banner__slides--content--title">
                                                Creating Global Leaders
                                            </h1>
                                            <a href="#" class="rts-theme-btn btn-arrow">View Our
                                                Program
                                                <span><i class="fa-regular fa-arrow-right"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slides end -->
                <!-- single slides -->
                <div class="swiper-slide">
                    <div class="banner__wrapper--bg"
                        style="background-image: url(https://www.dsims.org.in/wp-content/uploads/sites/3/revslider/slider-1/slider-4.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner__slides--container banner__height">
                                        <div class="banner__slides--content">
                                            <div class="banner__slides--content--sub">
                                                <img src="assets/images/icon/e-cap.svg" alt="cap"> Excellence
                                                empowers growth
                                            </div>
                                            <h1 class="banner__slides--content--title">
                                                Study
                                                Under Accomplished Faculty
                                            </h1>
                                            <a href="#" class="rts-theme-btn btn-arrow">View Our
                                                Program
                                                <span><i class="fa-regular fa-arrow-right"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slides end -->
                <!-- single slides -->
                <div class="swiper-slide">
                    <div class="banner__wrapper--bg"
                        style="background-image: url(https://www.dsims.org.in/wp-content/uploads/sites/3/revslider/slider-1/slider-2.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner__slides--container banner__height">
                                        <div class="banner__slides--content">
                                            <div class="banner__slides--content--sub">
                                                <img src="assets/images/icon/e-cap.svg" alt="cap"> Innovation
                                                fuels
                                                progress
                                            </div>
                                            <h1 class="banner__slides--content--title">
                                                Get Hands-On Experience with Inudstry Experts
                                            </h1>
                                            <a href="#" class="rts-theme-btn btn-arrow">View Our
                                                Program
                                                <span><i class="fa-regular fa-arrow-right"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slides end -->
            </div>
        </div>
        <div class="banner__slides--navigation">
            <div class="banner__slides--navigation--single">
                <h5 class="nav__title">PGDM</h5>
                <a href="#" class="nav__description">Browse the PGDM
                    courses</a>
            </div>
            <div class="banner__slides--navigation--single">
                <h5 class="nav__title">FMB</h5>
                <a href="#" class="nav__description">Browse the FMB programs</a>
            </div>
        </div>
    </div>
</div>
<!-- header banner end -->

<!--Start Campus Information-->
<div class="campus-information-area pt--120">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-6">
                <div class="campus-content pr-20">
                    <div class="campus-title">
                        <h2 style="font-weight:600">About Us</h2>
                        <p>Durgadevi Saraf Global Business School (DSGS), established in 2020, is a milestone in
                            the
                            legacy of Rajasthani Sammelan Education Trust (RSET), founded in 1948. Ranked among
                            the
                            Top-5 B-Schools in Mumbai in 2024. With
                            state-of-the-art infrastructure, innovative teaching methods, and a focus on ethical
                            leadership, hands-on learning, and sustainability, DSGS equips students with
                            essential
                            business skills, industry insights, and global perspectives, preparing them to be
                            future-ready leaders.</p>
                    </div>
                    <div class="list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>Industry-Ready Course</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>3-Month SIP</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>Blended Pedagogy</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>Leaders in Making (LiM)</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>Institute Social Responsibility</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>Mentoring</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>International Immersion</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        <p>Rural Immersion</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="campus-image pl-20">
                    <img src="assets/images/about/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="#" class="rts-theme-btn btn-arrow mt-5">View More
                    <span><i class="fa-regular fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--End Campus Information-->

<div class="container pt--100">
    <div class="row">
        <div class="col-12">
            <div class="rts__section--wrapper v__5">
                <h2 class="rts__section--title">Top B-school's Ranking in india</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="awards">
                <div class="award">
                    <img src="assets/images/alumni/r3.1.png" alt="">
                </div>
                <div class="award">
                    <img src="assets/images/alumni/r2.1.png" alt="">
                </div>
                <div class="award">
                    <img src="assets/images/alumni/r1.1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Counter -->
<section class="counter-numbers pt--100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="counters">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="counters-card">
                                <h3>
                                    <span class="counterss" data-to="100" data-speed="3000">0</span>
                                    <span class="target">%</span>
                                </h3>
                                <p>Students placed</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="counters-card">
                                <h3>
                                    <span class="counterss" data-to="300" data-speed="3000">0</span>
                                    <span class="target">+</span>
                                </h3>
                                <p>Partner Recruiters</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="counters-card">
                                <h3>
                                    <span class="counterss" data-to="6.25" data-speed="3000" data-decimals="2">0</span>
                                    <span class="target">LPA</span>
                                </h3>
                                <p>Average Package</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="counters-card">
                                <h3>
                                    <span class="counterss" data-to="10.4" data-speed="3000" data-decimals="1">0</span>
                                    <span class="target">LPA</span>
                                </h3>
                                <p>Highest Package</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter -->

<!-- academic program -->
<section class="program rts-section-padding">
    <div class="container">
        <div class="row rt-center">
            <div class="col-sm-12">
                <div class="rts__section--wrapper v__5">
                    <h2 class="rts__section--title">Academics & Program</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center g-0">
            <div class="col-lg-6 col-md-10">
                <div class="program__single--item">
                    <div class="program__single--item--bg">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/pgdm.jpg" alt="">
                    </div>
                    <h5 class="program__single--item--title">PGDM</h5>

                    <ul class="program__single--item--list">
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Finance – Focus on Financial Markets
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Organizational Psychology & HR
                                Management
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Marketing and Communications
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Operations – Logistics and Supply Chain
                                Management
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="program__single--item v__2">
                    <div class="program__single--item--bg">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2022/01/dsgs_fmb_banner.jpg"
                            alt="">
                    </div>
                    <h5 class="program__single--item--title">FMB</h5>

                    <ul class="program__single--item--list">
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Essentials of Finance for FMB
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Essentials of HRM for FMB
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list"> Essentials of Marketing for a FMB
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <li class="program__single--item--list--item">
                            <a href="#" class="link__list">Essentials of Business Operations for
                                FMB
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-10">
                    <div class="program__single--item">
                        <div class="program__single--item--bg">
                            <img src="assets/images/program/program__bg.jpg" alt="">
                        </div>
                        <h5 class="program__single--item--title">Lifelong Learning</h5>

                        <ul class="program__single--item--list">
                            <li class="program__single--item--list--item">
                                <a href="program-single.html" class="link__list">Personal Development
                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <li class="program__single--item--list--item">
                                <a href="program-single.html" class="link__list">Arts and Humanities
                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <li class="program__single--item--list--item">
                                <a href="program-single.html" class="link__list">Health and Wellness
                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <li class="program__single--item--list--item">
                                <a href="program-single.html" class="link__list">Social Sciences
                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        </div>
    </div>
</section>
<!-- academic program end -->

<!-- campus life -->
<section class="campus rts__secondary__bg-2 rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__6">
                <p class="rts__section--wrapper--description">
                    Fostering a dynamic environment where future leaders thrive and connections flourish
                    globally
                </p>
                <h2 class="rts__section--wrapper--title text-black">
                    Campus <span> Life</span>
                </h2>
            </div>
        </div>
        <!-- content -->
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="campus__single--item">
                    <a href="#">
                        <div class="campus__single--item--thumb">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/12/abt-campus-img1-900x600.jpg"
                                alt="">
                        </div>
                    </a>
                    <h5 class="campus__single--item--title"><a href="#">Campus <span><i
                                    class="fa-light fa-arrow-right"></i></span></a></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="campus__single--item">
                    <a href="#">
                        <div class="campus__single--item--thumb">
                            <img src="assets/images/campus/15.1.jpg" alt="">
                        </div>
                    </a>
                    <h5 class="campus__single--item--title"><a href="#">Life at DSGS <span><i
                                    class="fa-light fa-arrow-right"></i></span></a></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="campus__single--item">
                    <a href="#">
                        <div class="campus__single--item--thumb">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/12/InternationalCollaborationsUEL.jpg"
                                alt="">
                        </div>
                    </a>
                    <h5 class="campus__single--item--title"><a href="#">Industry Connect
                            <span><i class="fa-light fa-arrow-right"></i></span></a></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="campus__single--item">
                    <a href="#">
                        <div class="campus__single--item--thumb">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/knowledge-resource-centre-img1.jpg"
                                alt="">
                        </div>
                    </a>
                    <h5 class="campus__single--item--title"><a href="#">Knowledge Resource Center
                            <span><i class="fa-light fa-arrow-right"></i></span></a></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="campus__single--item">
                    <a href="#">
                        <div class="campus__single--item--thumb">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/1539322543_4_n.jpg"
                                alt="">
                        </div>
                    </a>
                    <h5 class="campus__single--item--title"><a href="#">Boy's Hostel
                            <span><i class="fa-light fa-arrow-right"></i></span></a></h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="campus__single--item">
                    <a href="#">
                        <div class="campus__single--item--thumb">
                            <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Women-Hostel-img2.jpg"
                                alt="">
                        </div>
                    </a>
                    <h5 class="campus__single--item--title"><a href="#">Girl's Hostel
                            <span><i class="fa-light fa-arrow-right"></i></span></a></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- shape area -->
    <!-- <div class="rts__shape">
            <svg width="48" height="53" class="rts__shape--1" viewBox="0 0 48 53" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1 9.69721C1 9.69721 19.059 -3.64479 37.04 2.72121C37.04 2.72121 37.145 3.26321 37.34 4.23321C37.159 4.26921 36.983 4.34221 36.825 4.45821C36.247 4.88521 36.125 5.69921 36.552 6.27721C36.863 6.69821 37.379 6.8732 37.86 6.7742C38.084 7.8532 38.351 9.1172 38.655 10.5232C38.505 10.5642 38.359 10.6302 38.227 10.7282C37.649 11.1552 37.527 11.9692 37.954 12.5472C38.253 12.9522 38.743 13.1272 39.208 13.0522C39.474 14.2582 39.761 15.5342 40.067 16.8652C39.929 16.9072 39.795 16.9682 39.673 17.0582C39.096 17.4852 38.974 18.2992 39.4 18.8772C39.699 19.2812 40.187 19.4562 40.651 19.3822C40.938 20.6022 41.237 21.8532 41.548 23.1252C41.385 23.1652 41.227 23.2372 41.084 23.3422C40.507 23.7692 40.384 24.5832 40.812 25.1612C41.135 25.5982 41.679 25.7732 42.174 25.6482C42.511 26.9872 42.859 28.3382 43.217 29.6882C43.039 29.7252 42.865 29.7972 42.709 29.9132C42.131 30.3402 42.009 31.1542 42.437 31.7322C42.78 32.1962 43.372 32.3602 43.891 32.1872C44.285 33.6242 44.689 35.0502 45.1 36.4462C44.933 36.4852 44.771 36.5572 44.624 36.6662C44.047 37.0932 43.924 37.9072 44.351 38.4852C44.703 38.9622 45.318 39.1222 45.847 38.9262C46.261 40.2652 46.681 41.5662 47.105 42.8122C47.105 42.8122 27.32 43.3022 14.9 52.1942L1 9.69721Z"
                    stroke="#000" stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                <path d="M33.4798 7.4954C33.4798 7.4954 21.1478 5.92641 7.30078 14.0254" stroke="#000"
                    stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
                <path d="M35.5032 13.9798C35.5032 13.9798 23.1712 12.4108 9.32422 20.5098" stroke="#000"
                    stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
                <path d="M37.136 20.6849C37.136 20.6849 24.804 19.1159 10.957 27.2149" stroke="#000" stroke-opacity="1"
                    stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
            </svg>

            <svg class="rts__shape--2" width="48" height="51" viewBox="0 0 48 51" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M27.5515 4.15989L43.1932 35.4128C43.7324 36.4905 45.0443 36.9275 46.122 36.3882C47.2006 35.8489 47.6367 34.5371 47.0974 33.4593L31.4558 2.20647C30.9165 1.12876 29.6047 0.691765 28.5269 1.23104C27.4484 1.77032 27.0122 3.08217 27.5515 4.15989Z"
                    stroke="#000" stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                <path d="M28.5252 1.23047L1 15.0066L18.5959 50.1638L46.1212 36.3876" stroke="#000" stroke-opacity="1"
                    stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
                <path d="M25.557 10.1983L8.47656 18.748L12.1408 26.0683L29.2212 17.5186L25.557 10.1983Z" stroke="#000"
                    stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
                <path d="M13.6875 29.1662L30.7686 20.6172" stroke="#000" stroke-opacity="1" stroke-width="1.3"
                    stroke-miterlimit="10" stroke-linejoin="round" />
                <path d="M14.6406 31.0705L31.7218 22.5215" stroke="#000" stroke-opacity="1" stroke-width="1.3"
                    stroke-miterlimit="10" stroke-linejoin="round" />
                <path d="M41.4977 32.0312L36.6172 34.4741L38.3635 35.7969L38.3272 37.8898L43.1908 35.414" stroke="#000"
                    stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
            </svg>


            <svg class="rts__shape--3" width="65" height="49" viewBox="0 0 65 49" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M52.2495 9.96641C44.2586 0.885522 30.7629 -1.73822 19.7633 4.38485C8.76371 10.5079 3.88322 23.3604 7.39053 34.9374L1.08594 38.4467L6.52987 48.2266L63.999 16.2361L58.555 6.45613L52.2495 9.96641ZM25.2232 14.1937C30.7549 11.1142 37.3836 11.9041 42.0177 15.6617L17.6222 29.2411C16.8703 23.3235 19.6915 17.2732 25.2232 14.1937Z"
                    stroke="#000" stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10"
                    stroke-linejoin="round" />
                <path d="M6.72645 41.8039L6.29688 42.043L7.2057 43.676L7.63528 43.4369L6.72645 41.8039Z" fill="#413D84"
                    stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M11.9726 38.9073L11.543 39.1465L12.452 40.7795L12.8816 40.5403L11.9726 38.9073Z" fill="#413D84"
                    stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M17.1288 36.0304L16.6992 36.2695L17.6082 37.9023L18.0378 37.6632L17.1288 36.0304Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M22.3748 33.1339L21.9453 33.373L22.8545 35.0058L23.284 34.7667L22.3748 33.1339Z" fill="#413D84"
                    stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M27.6093 30.2023L27.1797 30.4414L28.0887 32.0744L28.5183 31.8353L27.6093 30.2023Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M32.7929 27.2941L32.3633 27.5332L33.2721 29.1662L33.7017 28.9271L32.7929 27.2941Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M38.039 24.3956L37.6094 24.6348L38.5184 26.2678L38.948 26.0286L38.039 24.3956Z" fill="#413D84"
                    stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M43.2186 21.4894L42.7891 21.7285L43.6979 23.3615L44.1275 23.1224L43.2186 21.4894Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M48.4101 18.6163L47.9805 18.8555L48.8895 20.4883L49.319 20.2491L48.4101 18.6163Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M53.6561 15.7179L53.2266 15.957L54.1357 17.5898L54.5653 17.3507L53.6561 15.7179Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M58.8358 12.8136L58.4062 13.0527L59.3152 14.6855L59.7448 14.4464L58.8358 12.8136Z"
                    fill="#413D84" stroke="#000" stroke-opacity="1" stroke-miterlimit="10" />
                <path d="M6.53125 48.2256L7.7848 44.7053L59.9176 15.6855L64.0003 16.236" stroke="#000"
                    stroke-opacity="1" stroke-width="1.3" stroke-miterlimit="10" stroke-linejoin="round" />
            </svg>

        </div> -->
</section>
<!-- campus life end -->

<!-- notice board start -->
<section class="rts-notice rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__8">
                <h2 class="rts__section--title"> Events</h2>
                <div class="rts__section--link">
                    <a href="#" class="rts-nbg-btn btn-arrow">View All
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-0 justify-content-md-center">
            <div class="col-md-11 col-lg-7">
                <div class="rts-event-section">
                    <div class="rts-event-section-content">
                        <ul class="list-unstyled rts-counter">
                            <li class="single-event" data-image="assets/images/event/01.jpg">
                                <div class="single-event-counter">
                                    <div class="count-number rt-clip-text"></div>
                                </div>
                                <div class="single-event-content">
                                    <h5 class="event-title">Event One</h5>
                                    <div class="single-event-content-meta">
                                        <div class="event-date">
                                            <span><i class="fal fa-calendar"></i></span>
                                            <span>January 01, 2024</span>
                                        </div>
                                        <div class="event-time">
                                            <span><i class="fa-sharp fa-thin fa-clock"></i></span>
                                            <span>00:00 am</span>
                                        </div>
                                        <div class="event-place">
                                            <span><i class="fa-sharp fa-thin fa-location-dot"></i></span>
                                            <span>Malad, Mumbai</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="single-event" data-image="assets/images/event/02.jpg">
                                <div class="single-event-counter">
                                    <div class="count-number rt-clip-text"></div>
                                </div>
                                <div class="single-event-content">
                                    <h5 class="event-title">Event Two</h5>
                                    <div class="single-event-content-meta">
                                        <div class="event-date">
                                            <span><i class="fal fa-calendar"></i></span>
                                            <span>January 01, 2024</span>
                                        </div>
                                        <div class="event-time">
                                            <span><i class="fa-sharp fa-thin fa-clock"></i></span>
                                            <span>00:00 am</span>
                                        </div>
                                        <div class="event-place">
                                            <span><i class="fa-sharp fa-thin fa-location-dot"></i></span>
                                            <span>Malad, Mumbai</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="single-event" data-image="assets/images/event/03.jpg">
                                <div class="single-event-counter">
                                    <div class="count-number rt-clip-text"></div>
                                </div>
                                <div class="single-event-content">
                                    <h5 class="event-title">Event Three</h5>
                                    <div class="single-event-content-meta">
                                        <div class="event-date">
                                            <span><i class="fal fa-calendar"></i></span>
                                            <span>January 01, 2024</span>
                                        </div>
                                        <div class="event-time">
                                            <span><i class="fa-sharp fa-thin fa-clock"></i></span>
                                            <span>00:00 am</span>
                                        </div>
                                        <div class="event-place">
                                            <span><i class="fa-sharp fa-thin fa-location-dot"></i></span>
                                            <span>Malad, Mumbai</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-lg-5">
                <div class="event__background">
                    <img id="eventImage" src="assets/images/event/event__bg.jpg" alt="Event Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- notice board end -->

<!-- scholarship appication -->
<section class="rts-scholarship rts-scholarship-bg rts-section-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="rts-scholarship-info">
                    <h2 class="rts-section-title">Scholarships</h2>
                    <p class="w-740 mb--50">Unlock your potential with our exclusive scholarship programs
                        designed
                        to empower future leaders. At DSGS, we recognize academic excellence, leadership skills,
                        and
                        diverse talents by offering financial support to deserving PGDM aspirants. Explore a
                        range
                        of scholarships tailored to help you achieve your career goals without financial
                        barriers.
                        Apply today and take the first step toward a brighter future!</p>
                    <a href="#" class="rts-theme-btn btn-arrow">Know More<span><i
                                class="fa-thin fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- scholarship appication end -->

<!--Start Admisssion Area-->
<div class="admisssion-area rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__8">
                <div class="rts__section--wrapper--left">
                    <h2 class="rts__section--title mb--15">DSGS Admission</h2>
                    <p class="rts__section--description">Your journey to success starts here - Apply Today!</p>
                </div>
                <div class="rts__section--link">
                    <a href="#" class="rts-nbg-btn btn-arrow">Apply Now
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="admission-content">
            <div class="admission-image" id="admission-image">
                <img src="https://www.dsims.org.in/wp-content/uploads/sites/3/revslider/slider-1/slider-3.jpg"
                    alt="Image">
                <div class="icon">
                    <button class="play-btn" id="play-button">
                        <i class="fa-solid fa-play"></i>
                    </button>
                </div>
            </div>
            <div class="admission-video" id="admission-video" style="display: none;">
                <div class="video-wrapper">
                    <video id="video-player" src="/assets/admission.mp4" controls></video>
                </div>
            </div>
            <div class="query text-center">
                <a href="#" class="rts-theme-btn btn-arrow mt-5">Apply Now
                    <span><i class="fa-regular fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--End Admisssion Area-->

<script>
    // JavaScript to handle play button functionality
    document.getElementById('play-button').addEventListener('click', function () {
        // Hide the image container
        document.getElementById('admission-image').style.display = 'none';

        // Show the video container
        const videoContainer = document.getElementById('admission-video');
        videoContainer.style.display = 'block';

        // Automatically play the video
        const videoPlayer = document.getElementById('video-player');
        videoPlayer.play();
    });
</script>

<style>
    .admission-image,
    .video-wrapper {
        max-height: 600px;
        /* Adjust as needed to match image height */
    }

    .admission-video {
        margin-bottom: 30px;

    }

    .video-wrapper {
        border-radius: 8px;
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }

    .video-wrapper video {
        width: 100%;
        /* Ensures the video fits within the wrapper */
        height: auto;
        display: block;
        /* Removes inline gap if any */
    }

    .admission-video video {
        /* height: 100vh; */
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
    }
</style>


<!--Start Check Student Stories-->
<div class="students-stories-area rts__secondary__bg-2 pt-120">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__5">
                <h2 class="rts__section--title mb--15">Student Stories</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-stories-card">
                    <div class="stories-content">
                        <p>Ms Saloni Singh</p>
                    </div>
                    <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=g-GNSD9A7Og">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/saloni.jpg"
                            alt="Ms Saloni Singh Video Thumbnail" class="video-thumbnail">
                        <div class="icon">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-stories-card">
                    <div class="stories-content">
                        <p>Ms Aaliya Mulla</p>
                    </div>
                    <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=gCZDmQdxqQ0">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/aaliya-mulla.jpg"
                            alt="Ms Aaliya Mulla Video Thumbnail" class="video-thumbnail">
                        <div class="icon">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-stories-card">
                    <div class="stories-content">
                        <p>Ms Pranita Shetty</p>
                    </div>
                    <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=ptmHTQt23PY">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/pranita-shetty.jpg"
                            alt="Ms Pranita Shetty Video Thumbnail" class="video-thumbnail">
                        <div class="icon">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-stories-card">
                    <div class="stories-content">
                        <p>Mr Omkar Shinde</p>
                    </div>
                    <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=Cx3TjXhOiv4">
                        <img src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/omkar-shinde.jpg"
                            alt="Mr Omkar Shinde Video Thumbnail" class="video-thumbnail">
                        <div class="icon">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Check Student Stories-->


<!-- blog -->
<section class="blog pt--120">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__8">
                <div class="rts__section--wrapper--left">
                    <h2 class="rts__section--title mb--15">Latest Blogs</h2>
                    <p class="rts__section--description">Our goal is to deliver impactful knowledge to you</p>
                </div>
                <div class="rts__section--link">
                    <a href="blog.html" class="rts-nbg-btn btn-arrow">View All
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </span></a>
                </div>
            </div>
        </div>
        <!-- blog area -->
        <div class="row g-5">
            <div class="col-lg-6 col-md-6">
                <div class="blog__single--item">
                    <a href="#" class="blog__single--item--link">
                        <div class="blog__single--item--thumb">
                            <img src="assets/images/blog/blog__1.jpg" alt="">
                        </div>
                    </a>
                    <div class="blog__single--item--meta">
                        <a href="#" class="blog__cat">Category</a>
                        <h5 class="blog__single--item--title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur.</a>
                        </h5>
                        <p class="blog__single--item--excerpt">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Dolorum, nobis.</p>

                        <div class="blog__single--item--info">
                            <div class="author">
                                <span><i class="fa-thin fa-user"></i></span>
                                <a href="#">Author</a>
                            </div>
                            <div class="date">
                                <span><i class="fa-sharp fa-thin fa-calendar"></i></span>
                                <p>Jan 1, 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="blog__single--item">
                    <a href="#" class="blog__single--item--link">
                        <div class="blog__single--item--thumb">
                            <img src="assets/images/blog/blog__2.jpg" alt="">
                        </div>
                    </a>
                    <div class="blog__single--item--meta">
                        <a href="#" class="blog__cat">Category</a>
                        <h5 class="blog__single--item--title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur.</a>
                        </h5>
                        <p class="blog__single--item--excerpt">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Similique, nostrum?</p>

                        <div class="blog__single--item--info">
                            <div class="author">
                                <span><i class="fa-thin fa-user"></i></span>
                                <a href="#">Author</a>
                            </div>
                            <div class="date">
                                <span><i class="fa-sharp fa-thin fa-calendar"></i></span>
                                <p>Jan 1, 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog end -->

<!-- brand slider -->
<div class="rts-brand v_1 pb--85 pt--85">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__5">
                <h2 class="rts__section--title mb--15">Recruiters</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-11">
                <div class="rts-brand-slider swiper swiper-data" data-swiper='{
                    "slidesPerView":6,
                    "loop": true,
                    "autoplay":{
                        "delay":"3000"
                    },
                    "breakpoints":{
                        "320":{
                            "slidesPerView": 3,
                            "centeredSlides": true
                        },
                        "575":{
                            "slidesPerView": 4,
                            "centeredSlides": true
                        },
                        "768":{
                            "slidesPerView": 5,
                            "centeredSlides": true
                        },
                        "991":{
                            "slidesPerView": 6,
                            "centeredSlides": true
                        },
                        "1201":{
                            "slidesPerView": 6
                        }
                    }
            }'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Tech-Mahindra.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Canon.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Capgemini.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Citibank.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Deloitte.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/ITC.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/KPMG.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Morgn-Stanley.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Nestle.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/Network-18.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="#">
                                    <img src="assets/images/brand/NSE.webp" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand slider end -->








<div class="search-input-area">
    <div class="container">
        <div class="search-input-inner">
            <div class="input-div">
                <input class="search-input autocomplete ui-autocomplete-input" type="text"
                    placeholder="What are you looking for?" autocomplete="off">
                <button><i class="far fa-search"></i></button>
            </div>
        </div>
    </div>
    <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
</div>

<!-- rts backto top start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
            style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
        </path>
    </svg>
</div>