<%- include('partials/breadcrumb') %>

    <section class="curriculum-tables rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="title">Curriculum (PGDM 2020-22 Batch)</h4>
                </div>
                <div class="col-12 mb-5">
                    <h5>FIRST YEAR – TRIMESTER I SUBJECTS</h5>
                    <table class="table">
                        <thead class="table-theme">
                            <tr>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Domain</th>
                                <th>Credit Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PGDM-101</td>
                                <td>Fundamentals of Management</td>
                                <td>General</td>
                                <td>Grade</td>
                            </tr>
                            <tr>
                                <td>PGDM-104</td>
                                <td>Financial Accounting & Reporting</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-106</td>
                                <td>Marketing Management</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-108</td>
                                <td>Business Communication</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-111</td>
                                <td>Organisational Behaviour</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-112</td>
                                <td>Operations Management-I</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-113</td>
                                <td>Managerial (Micro) Economics</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-114</td>
                                <td>Quantitative Techniques</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>TOTAL TRIMESTER CREDITS (7 full credit courses)</b></td>
                                <td><b>21</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 mb-5">
                    <h5>FIRST YEAR – TRIMESTER II SUBJECTS</h5>
                    <table class="table">
                        <thead class="table-theme">
                            <tr>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Domain</th>
                                <th>Credit Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PGDM-213</td>
                                <td>Human Resources Management</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-214</td>
                                <td>Corporate Finance</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-216</td>
                                <td>Operations Management-II</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-217</td>
                                <td> Entrepreneurship</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-218</td>
                                <td>Rural Immersion</td>
                                <td>General</td>
                                <td>Grade</td>
                            </tr>
                            <tr>
                                <td>PGDM-219</td>
                                <td>Operations Management-I</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-221</td>
                                <td>Negotiation & Selling Skills</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-222</td>
                                <td>Mercantile Law</td>
                                <td>General</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>TOTAL TRIMESTER CREDITS (6.5 courses)</b></td>
                                <td><b>19.5</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 mb-5">
                    <h5>FIRST YEAR – TRIMESTER III SUBJECTS</h5>
                    <table class="table">
                        <thead class="table-theme">
                            <tr>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Domain</th>
                                <th>Credit Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PGDM-301-CO</td>
                                <td>Business Research Methods</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-311-CO</td>
                                <td>Project Management</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-313-CO</td>
                                <td>Business Ethics & CSR</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-305-FN</td>
                                <td> Analysis of Financial Statements</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-306-FN</td>
                                <td> Financial Markets, Products & Institutions </td>
                                <td>Finance</td>
                                <td>Grade</td>
                            </tr>
                            <tr>
                                <td>PGDM-310-FN</td>
                                <td>Wealth Management</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-311-FN</td>
                                <td>Derivatives & Risk Management</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-312-FN</td>
                                <td>Cost & Management Accounting (workshop)</td>
                                <td>Grade</td>
                                <td>Grade</td>
                            </tr>
                            <tr>
                                <td>PGDM-305-HR </td>
                                <td>Learning & Development </td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-307-HR</td>
                                <td>Human Resource Policy, Practices & Audit</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-310-HR</td>
                                <td>Performance Management System</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-312-HR</td>
                                <td>Talent Acquisition & Employee Engagement</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-305-MK</td>
                                <td>Retail Management</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-307-MK</td>
                                <td>Consumer Behaviour</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-309-MK</td>
                                <td>Sales Management & Distribution</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-310-MK</td>
                                <td>Rural Marketing</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-305-OP</td>
                                <td>Transportation & Warehousing</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-308-OP</td>
                                <td>Business Forecasting & Demand Planning</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-309-OP</td>
                                <td>Total Quality Management & Lean Six Sigma</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-311-OP</td>
                                <td>Digital Platforms & Retail Management</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>TOTAL TRIMESTER CREDITS</b></td>
                                <td><b>21</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 mb-5">
                    <h5>SECOND YEAR – TRIMESTER IV SUBJECTS</h5>
                    <table class="table">
                        <thead class="table-theme">
                            <tr>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Domain</th>
                                <th>Credit Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PGDM-405-CO</td>
                                <td>SIP</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-409-CO</td>
                                <td>Corporate Strategy</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-410-CO</td>
                                <td>Corporate Governance</td>
                                <td>General</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-404-FN</td>
                                <td>Equity Research</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-407-FN</td>
                                <td>Multi Asset Portfolio Management/SAPM</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-408-FN</td>
                                <td>Mergers, Acquisitions & Corporate Restructuring</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-409-FN</td>
                                <td>Corporate Valuation</td>
                                <td>Finance</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-411-FN</td>
                                <td>Financial Analytics</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-412-FN</td>
                                <td>Advance Fixed Income</td>
                                <td>Finance</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-405-HR</td>
                                <td>Total Rewards at Work</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-409-HR</td>
                                <td>Competency & Assessment Centers</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-411-HR</td>
                                <td>HR Analytics</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-412-HR</td>
                                <td>Industrial Relations</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-413-HR</td>
                                <td>Organisation Design</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-402-MK</td>
                                <td>Product & Brand Management</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-403-MK</td>
                                <td>Integrated Marketing Communications</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-412-MK</td>
                                <td>Digital & Social Media Marketing</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-413-MK</td>
                                <td>Services Marketing</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-414-MK</td>
                                <td>Marketing Analytics</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-406-OP</td>
                                <td>Operations Planning & Control</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-411-OP</td>
                                <td>Logistics & Supply Chain Management</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-412-OP</td>
                                <td>Operations Research Applications</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-413-OP</td>
                                <td>Sourcing Management</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-414-OP</td>
                                <td>Operations Analytics</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>TOTAL TRIMESTER CREDITS (2.5 core + 5 Specialization = 7.5
                                        courses)</b></td>
                                <td><b>22.5</b></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col-12 mb-5">
                    <h5>SECOND YEAR – TRIMESTER V SUBJECTS</h5>
                    <table class="table">
                        <thead class="table-theme">
                            <tr>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Domain</th>
                                <th>Credit Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PGDM-508-CO</td>
                                <td>International Immersion</td>
                                <td>May not be offered</td>
                                <td>Grade</td>
                            </tr>
                            <tr>
                                <td>PGDM-512-CO</td>
                                <td>International Business</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-515-CO</td>
                                <td>Leadership & Team</td>
                                <td>General</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-510-FN</td>
                                <td>Financial Regulation & Compliance</td>
                                <td>Finance</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-512-FN</td>
                                <td>Private Equity & Venture Capital</td>
                                <td>Finance</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-515-FN</td>
                                <td>Behavioral Finance (Choice based-any one)</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-516-FN</td>
                                <td>Financial Risk Management (Choice based-any one)</td>
                                <td>Finance</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-505-HR</td>
                                <td>Labour Legislation</td>
                                <td>HR</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-510-HR</td>
                                <td>Strategic HRM</td>
                                <td>HR</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-511-HR</td>
                                <td>Global HRM</td>
                                <td>HR</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-512-MK</td>
                                <td>B2B Marketing</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-513-MK</td>
                                <td>Emerging Trends in Marketing</td>
                                <td>Marketing</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-504-OP</td>
                                <td>Infrastructure & Facility Management</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-509-OP</td>
                                <td>Enterprise Systems</td>
                                <td>Operations</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-510-OP</td>
                                <td>Leveraging Technology</td>
                                <td>Operations</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>TOTAL TRIMESTER CREDITS (1.5 core + 2 Specialization = 3.5
                                        courses)</b></td>
                                <td><b>10.5</b></td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <div class="col-12 mb-5">
                    <h5>SECOND YEAR – TRIMESTER VI SUBJECTS</h5>
                    <table class="table">
                        <thead class="table-theme">
                            <tr>
                                <th>Subject Code</th>
                                <th>Subject Name</th>
                                <th>Domain</th>
                                <th>Credit Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PGDM-603-CO</td>
                                <td>Capstone</td>
                                <td>General</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>PGDM-605-CO</td>
                                <td>LiM</td>
                                <td>General</td>
                                <td>Grade</td>
                            </tr>
                            <tr>
                                <td rowspan="4">Workshop</td>
                                <td><b>Finance Workshop of total 1.5 credit (offering a basket of 2 electives from which
                                        1 elective workshop has to be chosen)</b> <br>PGDM-603-CO-FN- Project Finance
                                    (1.5 credit) OR
                                    PGDM-604-CO-FN- Taxation (1.5 credit)</td>
                                <td>Finance</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td><b>HR Workshop of total 1.5 credit (offering a basket of 2 electives from which 1 elective workshop has to be chosen)</b> <br> PGDM-601-CO-HR- Instructional Design (1.5 credit) OR
                                    PGDM-602-CO-HR- HR Compliance (1.5 credit)</td>
                                <td>HR</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td><b>Marketing workshop of total 1.5 credit by offering 2 Micro Credit Course (2 compulsory offering of .75 credit each=1.5 credit of workshop)</b> PGDM-601-CO-MK- Digital Marketing- 0.75 credit
                                    PGDM-602-CO-MK- Advertising Management- 0.75 credit</td>
                                <td>Marketing</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td><b>Operations Workshop of total 1.5 credit (offering a basket of 2 electives from which 1 elective workshop has to be chosen)</b> <br>PGDM-601-CO-OP- Supply Chain Analytics- 1.5 credit OR <br>PGDM-602-CO-OP- Block Chain <br>Technology/Design Thinking- 1.5 credit</td>
                                <td>Marketing</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-608-FN</td>
                                <td>Fintech</td>
                                <td>Finance</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-609-HR</td>
                                <td>Psychometric Testing</td>
                                <td>HR</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-611-HR</td>
                                <td>Organisational Change & Development</td>
                                <td>HR</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-601-MK</td>
                                <td>Strategic Marketing</td>
                                <td>Marketing</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-607-MK</td>
                                <td>Customer Relationship Management</td>
                                <td>Marketing</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>PGDM-606-OP</td>
                                <td>Green Supply Chains</td>
                                <td>Operations</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>TOTAL TRIMESTER CREDITS (1 core + 2 Specialization = 3 courses)</b>
                                </td>
                                <td><b>7.5</b></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section>