<%- include('partials/breadcrumb') %>

    <!-- program content -->
    <div class="rts-program rts-section-padding">
        <div class="container">
            <div class="rts-program-single-header">
                <div class="row align-items-center g-3">
                    <div class="col-lg-6">
                        <h3 class="rts-section-title">Post Graduate Diploma in Management
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        <p class="rts-section-description">Welcome to the Post Graduate Diploma in Management at DSGS.
                            PGDM at DSGS is a robust, unique, industry-driven program which focuses on creating industry
                            ready and socially sensitive professionals. The program is designed to provide learning
                            environment and ambience to the budding leaders to develop their skills through four
                            emerging areas in the corporate world.</p>
                    </div>
                </div>
            </div>
            <div class="rts-program-description">
                <div class="row sticky-coloum-wrap">
                    <div class="col-lg-8">
                        <div class="program-description-area" id="curriculum">
                            <div class="program-big-thumb">
                                <img style=" object-fit: cover;"
                                    src="https://www.dsgs.org.in/wp-content/uploads/sites/3/2019/12/pgdm-banner.jpg"
                                    alt="program">
                            </div>
                            <div class="program-about">
                                <h4 class="title">About The Program</h4>
                                <p>Post Graduate Diploma in Management at DSGS. PGDM at DSGS is a robust, unique,
                                    industry-driven program which focuses on creating industry ready and socially
                                    sensitive professionals.
                                    The program is designed to provide learning environment and ambience to the budding
                                    leaders to develop their skills through four emerging areas in the corporate world.
                                    We invite you to browse through some of the most contemporaneous disciplines of
                                    management.
                                </p>
                                <p> The PGDM program at DSGS is approved by AICTE and the Government of
                                    Maharashtra,
                                    Department of Technical Education.
                                    <br>
                                    PGDM Program was conducted by DSIMS up to 2019-20. As per the directive issued by
                                    AICTE vide approval process handbook 2020-21, they did not permit MMS & PGDM
                                    Programs to be continued in the same institution. Therefore, Rajasthani Sammelan
                                    Education Trust (RSET) established a new institution in the name of Durgadevi Saraf
                                    Global Business School (DSGS) for conducting PGDM Program from 2020-21.
                                </p>
                                <a href="#" class="mt--15 rts-theme-btn btn-arrow"> Download Prospectus PGDM <span><i
                                    class="fa-sharp fa-regular fa-arrow-right"></i></span></a>
                            </div>

                            <div class="program-credit-area">
                                <h5 class="title">Admission:</h5>
                                <div class="program-accordion">
                                    <div class="accordion" id="rts-accordion">
                                        <div class="accordion-item">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Admission Details
                                            </button>
                                            <div id="collapseOne" class="accordion-collapse collapse show"
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <div class="program-accordion-text">
                                                        <h5>Intake: 120 Seats</h5>
                                                        <h6>PGDM/MMS Admission Process:</h6>
                                                        <p>The admission form is available on our website. Fill in
                                                            application form and submit online. Application fee of Rs.
                                                            2000 should be sent by demand draft drawn in favour of
                                                            “RS-DSIMS “to the Institute Office along with the downloaded
                                                            application form before the last date for submission of
                                                            admission form. Forms received without application
                                                            processing fee will not be considered for admission.</p>
                                                        <p>The Institute will prepare a merit list based on the
                                                            percentile of marks at the admission test and short list
                                                            candidates for next stage of selection process i.e. Group
                                                            Discussion and Personal Interviews.</p>
                                                        <p>Weightage for Common entrance test, Group Discussion,
                                                            Interview, Academic performance and performance at Sports,
                                                            Extra Curricular Activities, Academic Diversity and Gender
                                                            Diversity are as follows:</p>
                                                    </div>
                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th>Sr No.</th>
                                                                <th>Components</th>
                                                                <th style="min-width: 20%;">Weightage</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1.</td>
                                                                <td>Score in Common Entrance Tests</td>
                                                                <td>50%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2.</td>
                                                                <td>Group Discussion</td>
                                                                <td>15%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3.</td>
                                                                <td>Personal Interview</td>
                                                                <td>15%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4.</td>
                                                                <td>Academic Performance</td>
                                                                <td>10%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5.</td>
                                                                <td>Sports, Extra-Curricular Activities, Academic
                                                                    Diversity and Gender Diversity</td>
                                                                <td>10%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="program-credit-area">
                                <h5 class="title">Eligibility:</h5>
                                <div class="program-accordion">
                                    <div class="accordion" id="rts-accordion">
                                        <div class="accordion-item">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                The candidate should fulfill the following eligibility criteria
                                            </button>
                                            <div id="collapseTwo" class="accordion-collapse collapse"
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <div class="program-accordion-text">
                                                        <ul>
                                                            <li>Should have passed Bachelors Degree examination in any
                                                                faculty from a UGC recognized University with 50% marks
                                                                in aggregate or equivalent CGPA before the commencement
                                                                of the program. <br> <b>or</b> <br>Appeared for the
                                                                final year examination of any Bachelor’s degree
                                                                examination in any faculty from a UGC recognized
                                                                university. Such candidates can be considered for
                                                                provisional admission subject to passing the degree
                                                                examination with minimum of 50% marks in aggregate or
                                                                equivalent CGPA. However such students submits the proof
                                                                of passing the examination with required percentage on
                                                                or before August 10, 2019, failing which the admission
                                                                offered to them will stand cancelled automatically and
                                                                the fees paid by them will be forfeited.</li>
                                                            <li>Appeared for MHA-CET 2019 conducted by the Director of
                                                                Technical Education (DTE), Government of Maharashtra or
                                                                appeared for CAT (Conducted by IIMs, GMAT (conducted by
                                                                GMAC USA,) / CMAT (conducted by AICTE) / MAT (Conducted
                                                                by AIMA / XAT (Conducted by XLRI /ATMA (Conducted by
                                                                AIMS))))</li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="program-credit-area">
                                <h5 class="title">Course Structure:</h5>
                                <div class="program-accordion">
                                    <div class="accordion" id="rts-accordion">
                                        <div class="accordion-item">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="true"
                                                aria-controls="collapseThree">
                                                Course Structure (PGDM 2025-26 Batch)
                                            </button>
                                            <div id="collapseThree" class="accordion-collapse collapse"
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th>TRIMESTER</th>
                                                                <th>CORE SUBJECTS</th>
                                                                <th>SPECIALISATION SUBJECTS</th>
                                                                <th>TOTAL SUBJECTS</th>
                                                                <th>TOTAL CREDITS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>I</td>
                                                                <td>7</td>
                                                                <td>0</td>
                                                                <td>7</td>
                                                                <td>21</td>
                                                            </tr>
                                                            <tr>
                                                                <td>II</td>
                                                                <td>6.5</td>
                                                                <td>0</td>
                                                                <td>6.5</td>
                                                                <td>19.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>III</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>7</td>
                                                                <td>21</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>I year Total</strong></td>
                                                                <td><b>16.5</b></td>
                                                                <td><b>4</b></td>
                                                                <td><b>20.5</b></td>
                                                                <td><b>61.5</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td>IV</td>
                                                                <td>2.5</td>
                                                                <td>5</td>
                                                                <td>7.5</td>
                                                                <td>22.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>V</td>
                                                                <td>1.5</td>
                                                                <td>2</td>
                                                                <td>3.5</td>
                                                                <td>10.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>VI</td>
                                                                <td>1</td>
                                                                <td>1.5</td>
                                                                <td>3</td>
                                                                <td>7.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Total</b></td>
                                                                <td><b>5</b></td>
                                                                <td><b>8.5</b></td>
                                                                <td><b>14</b></td>
                                                                <td><b>40.5</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>II Year Total</b></td>
                                                                <td><b>21.5</b></td>
                                                                <td><b>12.5</b></td>
                                                                <td><b>34.5</b></td>
                                                                <td><b>102</b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="program-credit-area">
                                <h5 class="title">Fees Structure:</h5>
                                <div class="program-accordion">
                                    <div class="accordion" id="rts-accordion">
                                        <div class="accordion-item">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour" aria-expanded="true"
                                                aria-controls="collapseFour">
                                                Fees & Refunds
                                            </button>
                                            <div id="collapseFour" class="accordion-collapse collapse "
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <div class="program-accordion-text">
                                                        <h6>Fees:</h6>
                                                        <p>The total fee per year <b>is Rs. 3,62,500/-</b> plus
                                                            <b>library
                                                                refundable</b> deposit of Rs. 5,000/-. <br>
                                                            If offered admission to the PGDM program, a student will be
                                                            given a deadline by which he/she should secure his/her seat
                                                            by paying the first instalment of Rs. 1,30,000 of the
                                                            program fees.</p>
                                                        <p>Payment of fees should be made in digital format (NEFT/RTGS)
                                                            directly into the <b>Bank of Baroda, Sunder Nagar
                                                                Branch,</b>
                                                            Mumbai 400 064. <b>Account No: 35020100012989, IFSC
                                                                Code:</b>
                                                            BARB0SUNGOR (5th Character is zero) <b>in favour of
                                                                “Durgadevi
                                                                Saraf Global Business School”</b>.</p>
                                                        <p>Students who wish to secure a loan will have to start the
                                                            loan process well in advance to meet these deadlines. The
                                                            necessary letter for bank loan shall be issued by the Office
                                                            on demand.</p>
                                                        <h6>Refund of Fees:</h6>
                                                        <p>Total fee collected shall be refunded after deducting an
                                                            amount of Rs. 1,000/- as processing fee. The last date for
                                                            submission of application for refund fees shall be as
                                                            prescribed by AICTE from time to time. The refund of fees as
                                                            applicable shall be made in due course. In case the vacated
                                                            seat is not filled, the Institution will refund the security
                                                            deposit only. No fees will be refunded if the application
                                                            for cancellation is submitted after the last date for
                                                            cancellation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="program-credit-area">
                                <h5 class="title">Curriculum:</h5>
                                <h6><a href="/pgdm-curriculum" class="mt--15 rts-theme-btn btn-arrow">PGDM Curriculum <span><i
                                    class="fa-sharp fa-regular fa-arrow-right"></i></span></a></h6>
                            </div>
                            <div class="program-credit-area">
                                <h5 class="title">Academic Calendar:</h5>
                                <h6><a href="/assets/files/ACADEMIC-CALENDAR_PGDM_2020-21.pdf" class="mt--15 rts-theme-btn" target="_blank">ACADEMIC CALENDAR PGDM 2025-26</a></h6>
                            </div>
                            <!-- <div class="program-credit-area">
                                <h5 class="title">Admission Process:</h5>
                                <p>Core Required Courses for all majors:</p>
                                <div class="program-accordion">
                                    <div class="accordion" id="rts-accordion">
                                        <div class="accordion-item">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Year One
                                            </button>
                                            <div id="collapseOne" class="accordion-collapse collapse show"
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Spring Semester 1</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Summer Semester 2 (Summer
                                                                    Session IV)</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Spring Semester 1</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Year Two
                                            </button>
                                            <div id="collapseTwo" class="accordion-collapse collapse"
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Spring Semester 1</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Summer Semester 2 (Summer
                                                                    Session IV)</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Spring Semester 1</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Year Three
                                            </button>
                                            <div id="collapseThree" class="accordion-collapse collapse"
                                                data-bs-parent="#rts-accordion">
                                                <div class="accordion-body-content">
                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Spring Semester 1</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Summer Semester 2 (Summer
                                                                    Session IV)</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <table class="table">
                                                        <thead class="table-theme">
                                                            <tr>
                                                                <th style="min-width: 80%;">Spring Semester 1</th>
                                                                <th>Credits</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Introduction to Africana Studies or GSS 2201 -
                                                                    Africana Studies</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>The Contemporary African Diaspora</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                            <tr>
                                                                <td>African-Americans: A Seminar</td>
                                                                <td>3 Credits</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- sidebar -->
                    <div class="col-lg-4 sticky-coloum-item">
                        <div class="program-sidebar">
                            <!-- curriculum -->
                            <div class="program-curriculum">
                                <h6 class="heading-title" style="font-weight: 600;">SPECIALIZATIONS</h6>
                                <div class="program-menu">
                                    <ul class="list-unstyled">
                                        <li><a><span><i class="fa-light fa-arrow-right"></i></span>Finance – Focus on
                                                Financial Markets</a>
                                        </li>
                                        <li><a><span><i class="fa-light fa-arrow-right"></i></span>Marketing and
                                                Communications</a>
                                        <li><a><span><i class="fa-light fa-arrow-right"></i></span>Organizational
                                                Psychology & Human Resource Management</a>
                                        </li>
                                        </li>
                                        <li><a><span><i class="fa-light fa-arrow-right"></i></span>Operations –
                                                Logistics and Supply Chain Management </a></li>

                                    </ul>
                                </div>
                            </div>
                            <!-- contact info -->
                            <!-- <div class="program-info">
                                <h5>Department Contact Info</h5>
                                <p>B.A. in Africana Studies</p>
                                <div class="contact-info">
                                    <h5>Contact:</h5>
                                    <a href="mailto:barry.Unipix@info.com">barry.Unipix@info.com</a>
                                    <a href="callto:121">664-254-251</a>
                                </div>
                                <div class="social-info">
                                    <h5>Social Info:</h5>
                                    <div class="social-info-link">
                                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div> -->

                            <!-- join event -->
                            <div class="program-event">
                                <div class="program-event-content">
                                    <p>Join the journey of your success
                                    </p>
                                    <h4 class="event-title">PGDM</h4>
                                    <div class="single-event-content-meta">

                                        <div class="event-place">
                                            <span><i class="fa-light fa-envelope"></i></span>
                                            <span>programcoordinator@dsgs.org.in</span>
                                        </div>
                                        <div class="event-date">
                                            <span><i class="fa-light fa-phone"></i></span>
                                            <span>022 4520 7777</span>
                                        </div>
                                    </div>
                                    <a class="rts-theme-btn btn-arrow btn-white" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">Enquire Now <span><i
                                                class="fa-thin fa-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- program content end -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.accordion-button').forEach(button => {
                button.addEventListener("click", function (event) {
                    let target = this.getAttribute('data-bs-target');
                    let content = document.querySelector(target);
    
                    // Delay execution to wait for Bootstrap to apply the collapse
                    setTimeout(() => {
                        let rect = content.getBoundingClientRect();
                        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                        let newScrollTop = rect.top + scrollTop - 50; // Adjust '50' to fine-tune positioning
    
                        window.scrollTo({ top: newScrollTop, behavior: 'smooth' });
                    }, 300); // Adjust delay if needed
                });
            });
        });
    </script>
    