<%- include('partials/breadcrumb') %>
    <style>
        .rts-program .program-student-testimonial .single-testimonial-item {
            background: transparent;
            padding: 0;
        }
    </style>
    <!--  -->
    <!-- program content -->
    <div class="rts-program rts-mission rts-section-padding">
        <div class="container">
            <div class="rts-program-single-header">
                <div class="row align-items-center g-3">
                    <div class="col-lg-6">
                        <h3 class="rts-section-title">Placement Highlights – Building Careers, Shaping Futures
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        <p class="rts-section-description">At DSGS, we take pride in our strong industry connections and
                            outstanding placement record. Our dedicated training and placement cell ensures students
                            secure top positions in reputed companies worldwide. Explore our latest placement statistics
                            and success stories</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center rt-center">
                <div class="rts-section mb--50">
                    <h2 class="rts-section-title">Placement Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="rts-timeline-section">
                        <div class="rts-timeline-content">
                            <div class="left-side">
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Students placed</h5>
                                    <!-- <img src="assets/images/about/mission-1.jpg" alt=""> -->
                                    <div class="mission-cpy">
                                        <div class="wrap">
                                            <span class="place-number">100</span>
                                            <span class="place-number-substitute">%</span>
                                        </div>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit,
                                            laboriosam assumenda quis optio numquam iusto officia autem enim ab
                                            voluptate.</p>
                                    </div>
                                </div>
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Recruitement Partners</h5>
                                    <!-- <img src="assets/images/about/mission-1.jpg" alt=""> -->
                                    <div class="mission-cpy">
                                        <div class="wrap">
                                            <span class="place-number">300</span>
                                            <span class="place-number-substitute">+</span>
                                        </div>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit,
                                            laboriosam assumenda quis optio numquam iusto officia autem enim ab
                                            voluptate.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="separator">
                            </div>
                            <div class="right-side">
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Highest Package</h5>
                                    <div class="mission-cpy">
                                        <div class="wrap">
                                            <span class="place-number">10.4</span>
                                            <span class="place-number-substitute">LPA</span>
                                        </div>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit,
                                            laboriosam assumenda quis optio numquam iusto officia autem enim ab
                                            voluptate.</p>
                                    </div>
                                </div>
                                <div class="single-timeline-item">
                                    <h5 class="timeline-title">Average Package</h5>
                                    <div class="mission-cpy">
                                        <div class="wrap">
                                            <span class="place-number">6.25</span>
                                            <span class="place-number-substitute">LPA</span>
                                        </div>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit,
                                            laboriosam assumenda quis optio numquam iusto officia autem enim ab
                                            voluptate.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- program content end -->
    <!-- mission -->
    <section class="recruiters-logos rts-section-padding" style="padding-top: 0;">
        <div class="container">
            <div class="row justify-content-center rt-center">
                <div class="rts-section mb--50">
                    <h2 class="rts-section-title">Top Recruiters</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="recruiters-logos-wrapper">
                        <div class="recruiters-logo">
                            <img src="https://1000logos.net/wp-content/uploads/2020/01/Morgan-Stanley-Logo-2001.png"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i2.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Nestle.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i2.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Network-18.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i0.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/NSE.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i2.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Standard-Chartered.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i0.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Tech-Mahindra.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i2.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Canon.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i0.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Capgemini.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i0.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Citibank.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i0.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/Deloitte.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://i2.wp.com/www.dsgs.org.in/wp-content/uploads/sites/3/2019/11/ITC.png?fit=100%2C100&ssl=1"
                                alt="Recruiter's Logo" class="object-con">
                        </div>
                        <!--</div>-->
                        <div class="recruiters-logo">
                            <img src="https://dsgs.org.in/lp/ACN_BIG.png" alt="Recruiter's Logo" class="object-con">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://dsgs.org.in/lp/amazon-png-logo-vector-6695.png" alt="Recruiter's Logo"
                                class="object-con">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://dsgs.org.in/lp/Kotak-Mahindra-Bank-Logo-PNG.png" alt="Recruiter's Logo"
                                class="object-con">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://dsgs.org.in/lp/Bajaj Allianz.png" alt="Recruiter's Logo" class="object-con">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://dsgs.org.in/lp/BNP Paribas.jpg" alt="Recruiter's Logo" class="object-con">
                        </div>
                        <div class="recruiters-logo">
                            <img src="https://dsgs.org.in/lp/Godrej & Boyce.png" alt="Recruiter's Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>